
    <app-header></app-header>
<div id="dashboardPage"></div>
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="full-width pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
           
            <div class="page-body">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="ongoing-list">
                                                <li routerLink="/marketplace/marketplace-wallet" class="text-purple">Add Money</li>
                                                <li routerLink="/marketplace/marketplace-wallet-managecard" >Manage Cards</li>
                                                <li routerLink="/marketplace/marketplace-wallet-history">History</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="">
                                                <span class="pull-left font-weight-bold">Wallet Balance</span>
                                                <span class="pull-right text-purple font-weight-bold">$4000</span>
                                                <div class="clearfix"></div>
                                                <div class="form-group margin-top-30">
                                                    <label>Enter Amount</label>
                                                    <input type="text" placeholder="$2000" class="form-control">
                                                </div>
                                                <ul class="wallet-money">
                                                    <li> +$50</li>
                                                    <li> +$100</li>
                                                    <li> +$200</li>
                                                    <li> +$500</li>
                                                </ul>

                                                <button data-toggle="modal" data-target="#add" class="mt-5 btn btn-primary w-100">ADD MONEY</button>
                                                <p class="margin-top-30 font-13">Lorem ipsum dolor sit amet, conecet ernt dolor sit ametconecet sernt piscing ernt dolor ipsum onecet sernt ipsum dolor sit</p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="footer">
<div class="container">
    Copyright@2020. All Rights reserved
</div>
</div>
<div class="modal fade in align-middle" id="add">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body text-center">
          <img src="assets/images/confirm.png" />
          <h6 class="text-purple mt-3">$200 successfully added to the wallet!</h6>
        </div>
        
      </div>
    </div>
  </div>
</div>
