<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <a href="javascript:void(0)">
          <img src="assets/images/logo.png" class="logo-height"/>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7 login-left">
        <div class="login-card">
          <h1>Lorem Ipsum <br>Is Dummy Text</h1>
          <h6>Sign in or create account to start selling</h6>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,</p>
          <img src="assets/img/restaurant-img.png">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 login-right">
        <div class="login-card">
          <div class="m-b-30">
            <h3>Reset Password</h3>
            <p>Don't worry and just follow the steps</p>
          </div>
          <form class="w-100 form-control-bottom" [formGroup]="resetForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="m-t-10">
              <div class="form-group">
                <label>Enter New Password</label>
                <input type="password" placeholder="********" formControlName="password" class="form-control password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <span class="showHidePass"></span>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                </div>
              </div>
              <div class="form-group">
                <label>Enter Password Again</label>
                <input type="password" placeholder="********" formControlName="rePassword" class="form-control password" [ngClass]="{ 'is-invalid': submitted && f.rePassword.errors }" />
                <span class="showHidePass"></span>
                <div *ngIf="submitted && f.rePassword.errors" class="invalid-feedback">
                  <div *ngIf="f.rePassword.errors.required">Password is required</div>
                  <div *ngIf="f.rePassword.errors.minlength">Password must be at least 8 characters</div>
                  <div *ngIf="f.rePassword.errors.mustMatch">Password does not match</div>
                </div>
              </div>
              <div class="form-group">
                <label>Enter OTP</label>
                <input type="text" placeholder="Enter the OTP" formControlName="otp" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.otp.errors }" />
                <span class="resendOtp">Send OTP</span>
                <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
                  <div *ngIf="f.otp.errors.required">OTP is required</div>
                  <div *ngIf="f.otp.errors.minlength">Password must be at least 4 characters</div>
                  <div *ngIf="f.otp.errors.mustMatch">Invalid OTP</div>
                </div>
              </div>
              <div class="form-group m-t-10">
                <button routerLink="/shared/login" class="btn btn-primary btn-md btn-block">CHANGE PASSWORD</button>
              </div>
            </div>
          </form>
          <!-- <div class="row">
            <div class="col-md-10">
              <p class="text-inverse text-left m-b-0">Thank you and enjoy our admin.</p>
              <p class="text-inverse text-left"><b>Your Authentication Team</b></p>
            </div>
            <div class="col-md-2 pl-0">
              <img src="assets/images/Logo-small-bottom.png" class="small-logo" alt="small-logo.png" />
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>