

.tabs-nav li {
    float: left;
    width: 50%;
  }
  .tabs-nav li:first-child a {
    border-right: 0;
    border-top-left-radius: 6px;
  }
  .tabs-nav li:last-child a {
    border-top-right-radius: 6px;
  }
  .tabs-nav>li>a {
    background: #fff;
    color: #333;
    border: 1px solid #e42a4f;
    display: block;
        font-weight: 500;
      padding: 7px 0;
    text-align: center;
    text-decoration: none;
  }
  
  .tabs-nav>li.tab-active a {
    
    background: #e42a4f;
    border: 1px solid #e42a4f;
    color: #fff;
    cursor: default;
  }
  .tabs-stage {
    border-radius: 0 0 6px 6px;
    border-top: 0;
    clear: both;
    padding: 24px 30px;
    position: relative;
    top: -1px;
  }
  .no-item{
    display: block!important;
    text-align: center;
    border: 2px dashed #aeaeae;
    border-radius: 5px;
    width: 95%;
    font-size: 16px;
    color: #aeaeae;
    margin: 30px;
    padding: 20px;
  }
  
  
  ::ng-deep.mat-paginator {
    display: flex;
  }
  ::ng-deep.mat-paginator-container {
    display: flex !important;
  }
  ::ng-deep.mat-paginator-outer-container {
    display: flex !important;
  }
  
  
  ::ng-deep.mat-paginator-range-actions {
  display: flex !important;
  }
  
  ::ng-deep.mat-paginator-range-label {
  margin: 0 32px 0 24px;
  display: flex !important;
  }
  .tab-active{
    background: #e42a4f !important;
    color: white !important;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  