<app-header></app-header>
<div id="dashboardPage"></div>
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="full-width pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
           
              <div class="page-body">
                <div class="card">
                  <div class="card-body">
                   
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        <div class="img-part">
                          <img src="assets/images/global.png" class="courner w-100"/>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-9 ">
                        <div class="product-text table-responsive">
                          <table class="w-100 global-table">
                            <tr>
                              <td class="font-weight-bold">Global Traders &nbsp; 
                                <img src="assets/images/check-mark.png" class="courner"/>
                              </td>
                              <td class="text-right">
                                <img src="assets/images/heart.png" class="courner"/>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <img src="assets/images/star.png" class="courner"/>
                                <img src="assets/images/star.png" class="courner"/>
                                <img src="assets/images/star.png" class="courner"/>
                                <img src="assets/images/star.png" class="courner"/>
                                <img src="assets/images/star_grey.png" class="courner"/>
                              </td>
                            </tr>
                            <tr >
                              <td>
                                <p class="mt-3">Address 
                                  <br>
                                1089 Corniche El Nil, Qasran Nile, Cairo Governorate 11519, Egypt
                                    <br>
                                 Qasran Nile, Cairo Governorate, Egypt
                                    </p>
                                  </td>
                                  <td class="text-right v-align-bottom">
                                    <p>Distance 4kms</p>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col-sm-12 col-lg-3">
                              <h6 class="font-weight-bold">Products</h6>
                            </div>
                          <div class="offset-md-2 col-sm-12 col-lg-4">
                            <div class="form-group">
                              <input type="search" class="form-control search-input" placeholder="Search Product">
                                <img src="assets/images/explore.svg"  class="search"/>
                              </div>
                            </div>
                            <div class="col-sm-12 col-lg-3">
                              <div class="form-group">
                                <select id="demo"  class="form-control search-input">
                                  <option value="v1">Combobox</option>
                                  <option value="v1">XYZ</option>
                                  <option value="v1">XYZ</option>
                                  <option value="v1">XYZ</option>
                                  <option value="v1">XYZ</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        <div class="row">
                          <div class="col-md-6 full-height">
                            <div class="product-area">
                              <div class="row">
                                <div class="col-sm-12 col-md-3 full-height">
                                  <div class="img-part" data-toggle="modal" data-target="#add">
                                    <img src="assets/images/product-1.png" class="courner v-align-center w-100"/>
                                  </div>
                                </div>
                                <div class="col-sm-12 col-md-9 full-height">
                                  <div class="product-text table-responsive">
                                    <table class="w-100 global-table">
                                      <tr>
                                        <td class="text-dark">Sunflower Seeds</td>
                                        <td class="text-purple text-right">$140.00</td>
                                      </tr>
                                      <tr>
                                        <td>
                                            <p class="para">Lorem ipsum dolor sit amet, conecet ernt. <br>dolor sit amet, 
                                              conecet ernt piscing.</p>
                                        </td>
                                        <td class="text-right">
                                            <button class="add text-center">
                                                <span class="fa fa-minus text-dark"></span>
                                                <span style="margin:0px 7px;">2</span>
                                                <span class="fa fa-plus"></span>
                                            </button>  
                                        </td>
                                      </tr> 
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6 full-height">
                            <div class="product-area">
                              <div class="row">
                                <div class="col-sm-12 col-md-3 full-height">
                                  <div class="img-part" data-toggle="modal" data-target="#add">
                                    <img src="assets/images/product-1.png" class="courner v-align-center w-100"/>
                                  </div>
                                </div>
                                <div class="col-sm-12 col-md-9 full-height">
                                  <div class="product-text table-responsive">
                                    <table class="w-100 global-table">
                                      <tr>
                                        <td class="text-dark">Sunflower Seeds</td>
                                        <td class="text-purple text-right">$140.00</td>
                                      </tr>
                                      <tr>
                                        <td>
                                            <p class="para">Lorem ipsum dolor sit amet, conecet ernt. <br>dolor sit amet, 
                                              conecet ernt piscing.</p>
                                        </td>
                                        <td class="text-right"><button routerLink="/home/adding-to-cart" class="add">Add</button></td>
                                      </tr> 
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 full-height">
                            <div class="product-area">
                              <div class="row">
                                <div class="col-sm-12 col-md-3 full-height">
                                  <div class="img-part" data-toggle="modal" data-target="#add">
                                    <img src="assets/images/product-2.png" class="courner v-align-center w-100"/>
                                  </div>
                                </div>
                                <div class="col-sm-12 col-md-9 full-height">
                                  <div class="product-text table-responsive">
                                    <table class="w-100 global-table">
                                      <tr>
                                        <td class="text-dark">Sunflower Seeds</td>
                                        <td class="text-purple text-right">$140.00</td>
                                      </tr>
                                      <tr>
                                        <td>
                                            <p class="para">Lorem ipsum dolor sit amet, conecet ernt. <br>dolor sit amet, 
                                              conecet ernt piscing.</p>
                                        </td>
                                        <td class="text-right"><button routerLink="/home/adding-to-cart" class="add">Add</button></td>
                                      </tr> 
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 full-height">
                            <div class="product-area">
                              <div class="row">
                                <div class="col-sm-12 col-md-3 full-height">
                                  <div class="img-part" data-toggle="modal" data-target="#add">
                                    <img src="assets/images/product-2.png" class="courner v-align-center w-100"/>
                                  </div>
                                </div>
                                <div class="col-sm-12 col-md-9 full-height">
                                  <div class="product-text table-responsive">
                                    <table class="w-100 global-table">
                                      <tr>
                                        <td class="text-dark">Sunflower Seeds</td>
                                        <td class="text-purple text-right">$140.00</td>
                                      </tr>
                                      <tr>
                                        <td>
                                            <p class="para">Lorem ipsum dolor sit amet, conecet ernt. <br>dolor sit amet, 
                                              conecet ernt piscing.</p>
                                        </td>
                                        <td class="text-right"><button routerLink="/home/adding-to-cart" class="add">Add</button></td>
                                      </tr> 
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 full-height">
                            <div class="product-area">
                              <div class="row">
                                <div class="col-sm-12 col-md-3 full-height">
                                  <div class="img-part" data-toggle="modal" data-target="#add">
                                    <img src="assets/images/product-3.png" class="courner v-align-center w-100"/>
                                  </div>
                                </div>
                                <div class="col-sm-12 col-md-9 full-height">
                                  <div class="product-text table-responsive">
                                    <table class="w-100 global-table">
                                      <tr>
                                        <td class="text-dark">Sunflower Seeds</td>
                                        <td class="text-purple text-right">$140.00</td>
                                      </tr>
                                      <tr>
                                        <td>
                                            <p class="para">Lorem ipsum dolor sit amet, conecet ernt. <br>dolor sit amet, 
                                              conecet ernt piscing.</p>
                                        </td>
                                        <td class="text-right"><button routerLink="/home/adding-to-cart" class="add">Add</button></td>
                                      </tr> 
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 full-height">
                            <div class="product-area">
                              <div class="row">
                                <div class="col-sm-12 col-md-3 full-height">
                                  <div class="img-part" data-toggle="modal" data-target="#add">
                                    <img src="assets/images/product-3.png" class="courner v-align-center w-100"/>
                                  </div>
                                </div>
                                <div class="col-sm-12 col-md-9 full-height">
                                  <div class="product-text table-responsive">
                                    <table class="w-100 global-table">
                                      <tr>
                                        <td class="text-dark">Sunflower Seeds</td>
                                        <td class="text-purple text-right">$140.00</td>
                                      </tr>
                                      <tr>
                                        <td>
                                            <p class="para">Lorem ipsum dolor sit amet, conecet ernt. <br>dolor sit amet, 
                                              conecet ernt piscing.</p>
                                        </td>
                                        <td class="text-right"><button routerLink="/home/adding-to-cart" class="add">Add</button></td>
                                      </tr> 
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <div class="container">
              Copyright@2020. All Rights reserved
            </div>
          </div>


          <div class="modal fade in align-middle" id="add">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body text-center">
                  <span class="pull-left font-weight-bold">Organic Moong Beans</span>
                  <span class="pull-right text-purple font-weight-bold">$140/ 10 kg</span>
                  <div class="clearfix"></div>
                  <div class="add-text">
                    <img src="assets/images/moong-big.png" />
                    <p>Sed ut perspiciatis unde omnis iste natius error siti voluptatem accusantium doloremque laudantium, totam rem aperiam,
                     eaque ipsa quae ab illo omnis inventore veritatis et quasi architectov perspiciatis unde unde omnis</p>

                     <select class="pull-left" id="demo">
                       <option value="v1">10 Kg</option>
                       <option value="v1">10 Kg</option>
                       <option value="v1">10 Kg</option>
                     </select>
                  <button class="btn btn-primary w-100 mt-3" data-dismiss="modal">ADD TO CART</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          