<nav class="navbar header-navbar pcoded-header" header-theme="theme1" pcoded-header-position="fixed">
  <div class="navbar-wrapper">
    <div class="navbar-logo" logo-theme="theme1">
      <!-- <a class="mobile-menu" id="mobile-collapse" href="javascript:void(0)">
        <i class="ti-menu"></i>
      </a> -->
      <a class="mobile-search morphsearch-search" href="javascript:void(0)">
        <i class="ti-search"></i>
      </a>
      <a routerLink="/dashboard" class="navbar-brand">
        <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo" />
      </a>
      <!-- <a class="mobile-options">
        <i class="ti-more"></i>
      </a> -->
    </div>
    <div class="navbar-container container-fluid">
      <ul class="nav-left">
        <li>
          <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
        </li>
      </ul>
      <ul class="nav-right">
        <li class="header-notification">
          <a routerLink="/dashboard" class="text-primary"> Home</a>
        </li>

        <li class="header-notification">
          <a routerLink="/marketplace/marketplace-ongoing-order" class="displayChatbox"> My Orders</a>
        </li>
        <li class="header-notification">
          <a routerLink="/marketplace/marketplace-cart" class="displayChatbox"> My Cart 
            <span *ngIf="total_items > 0" class="badge badge-primary cart">
              <span *ngIf="total_items < 10">0</span>{{total_items}}
            </span>
          </a>
        </li>
        <li class="header-notification">
          <a routerLink="/home/wishlist" class="displayChatbox"> Wishlist</a>
        </li>
        <li class="header-notification">
          <a routerLink="/marketplace/marketplace-wallet" class="displayChatbox"> Wallet</a>
        </li>
        <li class="header-notification">
          <a class="displayChatbox">
            Manage Restaurant <img src="assets/images/on.png" routerLink="/marketplace/marketplace-home"/>
          </a>
        </li>
        <li class="header-notification">
          <a routerLink="/marketplace/marketplace-home" class="displayChatbox fs-16 text-primary market-logo"><img src="assets/images/logo-market.png"/></a>
        </li>
        <li class="langues-dropdown dropdown">
          <a href="javascript:void(0)">
            <span id="langues">
              <img src="assets/images/flags/ar.jpg">
              Arabic
            </span>
            <i class="ti-angle-down"></i>
          </a>
          <ul>
            <li>
              <img src="assets/images/flags/en.jpg"> English
            </li>
            <li>
              <img src="assets/images/flags/ar.jpg"> Arabic
            </li>
          </ul>
        </li>
        <!-- <li class="header-notification">
          <a routerLink="/" class="displayChatbox">
            <img src="assets/images/setting.png"/>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
