<app-header></app-header>
<div id="branchesPage"></div>
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <app-left-sidebar></app-left-sidebar> 
     <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <div class="page-body">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-left text-purple font-weight-bold">Branch</p>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-primary">ADD</button>
                            </div>
                            <div class="col-sm-12 col-md-12 full-height">
                                <div class="table-responsive">
                                    <table class="w-100 tbl">
                                        <tr class="text-dark">
                                            <th>ID</th>
                                            <th>BRANCH NAME</th>
                                            <th>TIMING</th>
                                            <th>LOCATION</th>  
                                            <th>MANAGER/WORKER</th>
                                            <th>STATUS</th>  
                                            <th>ACTION</th>  
                                        </tr>
                                        <tr>
                                            <td>#2514</td>
                                            <td>Dummy Name</td>
                                            <td>10am to 10pm</td>
                                            <td><img src="assets/images/location.jpeg"/> Delhi NCR</td>
                                            <td><img src="assets/images/username.png"/> Dummy Name</td>
                                            <td class="text-success">ACTIVE</td>
                                            <td>
                                                <span><img src="assets/images/show-purple.png"/></span>
                                                <span><img src="assets/images/edit.png"/></span>
                                                <span><img src="assets/images/switch-green.png"/></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    Copyright@2020. All Rights reserved
  </div>
</div>