<app-header></app-header>
<div id="dashboardPage"></div>
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <app-left-sidebar></app-left-sidebar>    
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <div class="page-header card">
              <div class="row align-items-center">
                <div class="col-sm-12 col-lg-12">
                  <div class="page-header-title">
                    <!-- <i class="icofont icofont-home bg-primary"></i> -->
                    <div class="d-inline text-primary">
                      <!-- <h6>New live order has ar rived !</h6> -->
                      <img src="assets/images/bell.png" class="mr-3"/>
                      <span>New live order has arrived !</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="page-body">
              <div class="row">
                <div class="col-12 col-sm-5 col-md-5 col-lg-4">
                  <p>New Orders</p>
                </div>
                <div class="col-12 col-sm-7 col-md-7 col-lg-8 text-right text-gray fs-12">
                  <p>Last Updated : 02-01-2020</p>
                </div>
              </div>
              <div class="row gutter-sm">
                <div class="col-sm-4 col-md-4 full-height">
                  <div class="card bg-c-pink text-white widget-visitor-card">
                    <div class="card-block-small">
                      <h3 class="d-inline-block mb-0 mr-2">02</h3>
                      <span class="d-inline-block text-uppercase">New Orders</span>
                      <img src="assets/images/clock.png" class="courner"/>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 full-height">
                  <div class="card bg-c-blue-light text-white widget-visitor-card">
                    <div class="card-block-small">
                      <h3 class="d-inline-block mb-0 mr-2">04</h3>
                      <span class="d-inline-block text-uppercase">Total Restaurant Orders</span>
                      <img src="assets/images/bank_details_icon.png" class="courner"/>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 full-height">
                  <div class="card bg-c-yellow text-white widget-visitor-card">
                    <div class="card-block-small">
                      <h3 class="d-inline-block mb-0 mr-2">02</h3>
                      <span class="d-inline-block text-uppercase">Total Marketplace Orders</span>
                      <img src="assets/images/organize.png" class="courner"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gutter-xs">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                  <span class="fw-500">Restaurant Orders Status </span>  
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-right text-gray fs-12">
                  <p>Last Updated : 02-01-2020</p>
                </div>
                <!--------box-->

                <div class="col-12 col-sm-12 col-md-4 col-lg-4 fs-14">
                  <div class="card">
                    <div class="card-body card2">
                        <span class="pull-left">Ongoing Orders</span>
                        <span class="pull-right"><h5 class="text-danger">02</h5></span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 fs-14">
                  <div class="card">
                    <div class="card-body card2">
                        <span class="pull-left">Delivered Orders</span>
                        <span class="pull-right"><h5 class="text-danger">02</h5></span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 fs-14">
                  <div class="card">
                    <div class="card-body card2">
                        <span class="pull-left">Pending Orders</span>
                        <span class="pull-right"><h5 class="text-danger">01</h5></span>
                    </div>
                  </div>
                </div>
                
                <!-----box-->
              </div>
              <div class="row gutter-xs">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                  <span class="fw-500">Marketplace Orders Status </span>  
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-right text-gray fs-12">
                  <p>Last Updated : 02-01-2020</p>
                </div>
                <!--------box-->

                <div class="col-12 col-sm-12 col-md-4 col-lg-4 fs-14">
                  <div class="card">
                    <div class="card-body card2">
                        <span class="pull-left">Ongoing Orders</span>
                        <span class="pull-right"><h5 class="text-danger">02</h5></span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 fs-14">
                  <div class="card">
                    <div class="card-body card2">
                        <span class="pull-left">Collected Orders</span>
                        <span class="pull-right"><h5 class="text-danger">02</h5></span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 fs-14">
                  <div class="card">
                    <div class="card-body card2">
                        <span class="pull-left">Pending Orders</span>
                        <span class="pull-right"><h5 class="text-danger">01</h5></span>
                    </div>
                  </div>
                </div>
                
                <!-----box-->
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    Copyright@2019. All Rights reserved
  </div>
</div>