<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <a href="javascript:void(0)">
          <img src="assets/images/logo.png"/>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7 full-hieght login-left">
        <div class="login-card">
          <h1>Become a <span class="text-primary">Wenakel</span> partner</h1>
          <h6>Sign in or create account to start selling</h6>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 full-hieght login-right">
        <div class="login-card">
          <div class="m-b-30">
            <h3>Bussiness Type</h3>
            <p>Choose Any One type</p>
          </div>
          <form class="w-100" [formGroup]="bussinessTypeForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="row gutter-xs">
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center form-group">
                <div class="checkbox-circle with-img">
                  <label>
                    <input type="radio" name="bussinessType"/>
                    <span class="crImg"></span>
                    <div class="img-circle-md">
                      <img src="assets/images/restaurant.png"/>
                    </div>
                  </label>
                </div>
                <span class="text-inverse">Restaurant</span>
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center form-group">
                <div class="checkbox-circle with-img">
                  <label>
                    <input type="radio" name="bussinessType" checked/>
                    <span class="crImg"></span>
                    <div class="img-circle-md">
                      <img src="assets/images/bakery.png"/>
                    </div>
                  </label>
                </div>
                <span class="text-inverse">Bakery</span>
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center form-group">
                <div class="checkbox-circle with-img">
                  <label>
                    <input type="radio" name="bussinessType"/>
                    <span class="crImg"></span>
                    <div class="img-circle-md">
                      <img src="assets/images/freelancer.png"/>
                    </div>
                  </label>
                </div>
                <span class="text-inverse">Freelancer</span>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="checkbox-circle form-group">
                  <label>
                    <input type="radio" name="serviceType"/>
                    <span class="crImg"></span>
                    <span class="text-inverse">Dine in Only</span>
                  </label>
                </div>
                <div class="checkbox-circle form-group">
                  <label>
                    <input type="radio" name="serviceType" checked/>
                    <span class="crImg"></span>
                    <span class="text-inverse">Take Away Only</span>
                  </label>
                </div>
                <div class="checkbox-circle form-group">
                  <label>
                    <input type="radio" name="serviceType"/>
                    <span class="crImg"></span>
                    <span class="text-inverse">Both</span>
                  </label>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-t-25">
                <button routerLink="/shared/bussiness-location" class="btn btn-primary btn-md btn-block">NEXT</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>