<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <a href="javascript:void(0)">
          <img src="assets/images/logo.png" class="height-60"/>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7 full-hieght login-left">
        <div class="login-card">
          <h1>Become a <span class="text-primary">Wenakel</span> partner</h1>
          <h6>Sign in or create account to start selling</h6>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 full-hieght login-right">
        <div class="login-card">
          <div class="m-b-30">
            <h3>BUssiness/Freelancer Location</h3>
            <p>Enter Your BUssiness Location</p>
          </div>
          <form class="w-100 form-control-bottom" [formGroup]="bussinessLocationForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="m-t-10">
              <div class="form-group">
                <label>Enter PINCODE</label>
                <input type="text" formControlName="pincode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" />
                <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                  <div *ngIf="f.pincode.errors.required">Pincode is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Address</label>
                <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                  <div *ngIf="f.address.errors.required">address is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>City</label>
                <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                  <div *ngIf="f.city.errors.required">City is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>State</label>
                <input type="text" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
                <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                  <div *ngIf="f.state.errors.required">State is required</div>
                </div>
              </div>
              <div class="form-group">
                <label>Add Location</label>
                <input type="text" formControlName="location" class="form-control location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
                <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                  <div *ngIf="f.location.errors.required">Location is required</div>
                </div>
              </div>
            </div>
            <div class="m-t-15">              
              <em class="text-primary">Choose Location Will Show Here</em>
            </div>
            <div class="m-t-25">
              <button routerLink="/shared/bussiness-details" class="btn btn-primary btn-md btn-block">Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>