<section class="login">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <a href="javascript:void(0)">
                  <img src="assets/images/logo.png" class="logo-height" />
              </a>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7  login-left">
              <div class="login-card">
                  <h1>Lorem Ipsum <br>Is Dummy Text</h1>
                  <h6>Sign in or create account to start selling</h6>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,</p>
                  <img src="assets/img/restaurant-img.png">
                </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5  login-right">
              <div class="login-card">
                  <div class="m-b-30">
                      <h3>Forgot Password</h3>
                      <p>Don't worry and just follow the steps</p>
                  </div>
                  <form class="w-100 form-control-bottom" [formGroup]="forgotPass" (ngSubmit)="submit()" autocomplete="off">
                      <div class="m-t-10">
                          <div class="login-phone">
                                <label>Enter Your Registered Phone Number</label>
                                <input type="text" formControlName="mobile_number" placeholder="Phone Number"
                                    ng2TelInput class="form-control phone login_mobile"
                                    [ng2TelInputOptions]="{initialCountry: 'sa'}"
                                    onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57"
                                    (countryChange)="onCountryChange($event)" />
                                <div *ngIf="submitted && f.mobile_number.errors" class="invalid-feedback">
                                    <div *ngIf="submitted && f.mobile_number.errors.required">Phone number is required.</div>
                                    <div *ngIf="submitted && f.mobile_number.errors.minlength">Phone number must be at least 5 digits.</div>
                                    <div *ngIf="submitted && f.mobile_number.errors.maxlength">Phone number must be at smaller than 15 digits.</div>
                                </div>
                          </div>
                          <div class="form-group m-t-10">
                              <button type="submit" class="btn btn-primary btn-md btn-block">SEND CODE</button>
                              <p class="mt-3">you will receive a four digit verification code on your registered mobile number</p>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>