.no-item{
    text-align: center;
    border: 2px dashed #aeaeae;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: #aeaeae;
    margin: 30px;
    padding: 20px;
}
td{
    width: 40px;
}