  <app-header></app-header>
  <div id="dashboardPage"></div>
  <div class="pcoded-main-container">
    <div class="pcoded-wrapper">


      <div class="full-width pcoded-content">
        <div class="pcoded-inner-content">
          <div class="main-body">
            <div class="page-wrapper">
              <div class="page-body">
                <div class="row">

                  <div class="col-md-6 full-height">
                    <div class="card">
                      <div class="card-body">
                        <p class="font-weight-bold">Schedule Date & Time</p>
                        <button class="btn btn-primary" (click)="calendar()"><i class="fa fa-calendar"></i>
                          Calendar</button>
                        <ul class="schedule mt-3">
                          <li *ngFor="let date of timeSlot">
                            <label>
                              <input type="radio" name="time-slot" hidden [value]="date"
                                (change)="getScheduleDate($event)" />
                              <span>
                                <div class="year">{{getDate(date) | date:'MMMM d'}}</div>
                                <div class="week">{{getDate(date) | date:'EEEE'}}</div>
                              </span>
                            </label>
                          </li>
                        </ul>
                        <form>
                          <div class="form-group mt-3">
                            <select class="form-control custom-input" id="demo" (change)="selectTiming($event)">
                              <option value="" selected disabled>Choose Time Slot</option>
                              <option value="8 AM - 9 AM">8 AM - 9 AM</option>
                              <option value="9 AM - 10 AM">9 AM - 10 AM</option>
                              <option value="10 AM - 11 AM">10 AM - 11 AM</option>
                              <option value="11 AM - 12 PM">11 AM - 12 PM</option>
                              <option value="12 PM - 1 PM">12 PM - 1 PM</option>

                              <option value="1 PM - 2 PM">1 PM - 2 PM</option>
                              <option value="2 PM - 3 PM">2 PM - 3 PM</option>
                              <option value="3 PM - 4 PM">3 PM - 4 PM</option>
                              <option value="4 PM - 5 PM">4 PM - 5 PM</option>
                              <option value="12 PM - 1 PM">8 PM - 11 PM</option>
                              <option value="5 PM - 6 PM">5 PM - 6 PM</option>
                              <option value="6 PM - 7 PM">6 PM - 7 PM</option>
                              <option value="7 PM - 8 PM">7 PM - 8 PM</option>
                              <option value="8 PM - 9 PM">8 PM - 9 PM</option>
                              <option value="9 PM - 10 PM">9 PM - 10 PM</option>

                            </select>
                          </div>
                          <span *ngIf="scheduledDate" class="selectedTime">{{scheduledDate | date}} <span
                              *ngIf="scheduledTime">: {{scheduledTime}}</span></span>
                          <h6 class="font-14"><strong>Choose Delivery Address</strong></h6>
                          <div class="address-list" *ngIf="addressList.length > 0">
                            <div class="saved-address" *ngFor="let address of addressList">
                              <label>
                                <input type="radio" name="address" [value]="address._id" id="address"
                                  (change)="selectAddress(address)" />
                                <span>
                                  <div class="name-flex">
                                    <h6>{{address.name | titlecase}}<span>{{address.address_type | titlecase}}</span>
                                    </h6>
                                    <div class="name-btn">
                                      <a (click)="selectEditAddress(address)"><i class="fa fa-pencil"></i></a>
                                      <a href="javascript:void(0);" data-toggle="modal" data-target="#delete-modal"
                                        (click)="selectAddress(address)"><i class="fa fa-trash"></i></a>
                                    </div>
                                  </div>
                                  <div class="text-success">{{address.mobile_number}}</div>
                                  <p>{{address.address_title}}</p>
                                </span>
                              </label>
                            </div>
                          </div>
                          <div class="no-item" *ngIf="addressList.length <= 0" style="width: 92%;">
                            No Address Found
                          </div>
                          <a class="text-primary " routerLink="/home/add-address">Add New Address</a>
                          <!-- <div class="form-group">
                          <label class="label-dark">Location</label>
                          <input class="form-control location" (keypress)="utils.restrictSpaceAtFirst($event)"
                            type="text" placeholder="Location" ngx-google-places-autocomplete [options]='{}'
                            #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
                        </div>
                        <div class="form-group">
                          <label class="label-dark">Detailed Shipping Address</label>
                          <textarea rows="4" (keypress)="utils.restrictSpaceAtFirst($event)"
                            class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                          <label class="label-dark">Landmark</label>
                          <input type="text" (keypress)="utils.restrictSpaceAtFirst($event)" class="form-control" />
                        </div>
                        <div class="form-group">
                          <label class="label-dark">Instructions (Optional)</label>
                          <textarea rows="4" (keypress)="utils.restrictSpaceAtFirst($event)"
                            class="form-control"></textarea>
                        </div> -->
                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 full-height">
                    <div class="card">
                      <div class="card-body">
                        <p class="font-weight-bold">Order Summary</p>

                        <div class="product-area summary" *ngFor="let prod of products">
                          <div class="row">
                            <div class="col-sm-12 col-md-3 full-height">
                              <div class="img-part">
                                <img [defaultImage]="'assets/images/supplier.png'"
                                  [lazyLoad]="environment.baseUrl + prod.product_id.product_images[0]"
                                  class="courner v-align-center w-100" />
                              </div>
                            </div>
                            <div class="col-sm-12 col-md-9 full-height">
                              <div class="product-text table-responsive">
                                <table class="w-100 global-table">
                                  <tr>
                                    <td class="text-dark font-weight-bold">
                                      {{prod?.product_id?.product_name | titlecase}}
                                    </td>
                                    <!-- <td class="text-right">
                                                    <button class="add-light text-center">
                                                        <span class="fa fa-minus text-dark"></span>
                                                        <span style="margin:0px 7px;">{{prod?.quantity}}</span>
                                                        <span class="fa fa-plus"></span>
                                                    </button>  
                                                    <span class="prod_unit" *ngIf="prod?.product_id?.product_unit != ''">{{prod?.product_id?.product_unit}}</span>
                                                    <span class="prod_unit" *ngIf="prod?.product_id?.product_unit == ''">Pieces</span>
                                                </td> -->
                                    <td class="text-purple text-right" style="position: relative;">
                                      <span *ngIf="prod?.offer_id.length > 0">
                                        <span *ngIf="prod?.offer_id[0].offer_type == 0">SAR
                                          {{prod?.quantity * prod?.product_id?.product_price  | number : '1.2-2'}}</span>
                                        <span *ngIf="prod?.offer_id[0].offer_type == 1">SAR
                                          {{prod?.quantity * prod?.product_id?.product_price  | number : '1.2-2'}}</span>
                                        <span *ngIf="prod?.offer_id[0].offer_type == 2">SAR
                                          {{prod?.quantity * prod?.product_id?.product_price | number : '1.2-2'}}</span>
                                      </span>
                                      <span *ngIf="prod?.offer_id.length <= 0">SAR
                                        {{prod?.quantity * prod?.product_id?.product_price  | number : '1.2-2'}}</span>
                                      <span class="prod_quantity prod_unit">
                                        {{prod?.quantity}}
                                        <span
                                          *ngIf="prod?.product_id?.product_unit != ''">{{prod?.product_id?.product_unit}}</span>
                                        <span *ngIf="prod?.product_id?.product_unit == ''">Pieces</span>
                                      </span>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="product-area summary" >
                          <div class="row">
                            <div class="col-md-12 mt-3">
                              <a href="javascript:void(0);" class="text-primary" data-toggle="modal"
                                data-target="#coupon">Apply Coupon</a>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col-md-6 img-coupon">
                                <img *ngIf="selectedPromo" [src]="baseURL + selectedPromo.promo_image" style="width: 70px !important; height: 50px !important;">
                              </div>
                              <div class="col-md-6 coupon-body">
                                <div class="no-item coupon-text" *ngIf="selectedPromo" (click)="removePromo()">
                                  {{selectedPromo.promo_name}}
                                </div>
                              </div>
                            </div>



                            <div class="col-md-12 mt-3">

                              <div class="table-responsive bill-table">
                                <table class="w-100">

                                  <tr>
                                    <th class="font-weight-bold" colspan="2">Bill Details</th>
                                  </tr>
                                  <tr>
                                    <td>Sub Total</td>
                                    <td class="text-right text-success">SAR
                                      {{sub_total - products?.product_id?.product_tax | number : '1.2-2'}}</td>
                                  </tr>
                                  <tr>
                                    <td>Tax[included]</td>
                                    <td class="text-right text-success">SAR {{totaltax |number : '1.2-2'}}</td>
                                  </tr>
                                 
                                  <tr *ngIf="selectedPromo">
                                    <td>Coupon Discount</td>
                                    <td class="text-right text-success" *ngIf="selectedPromo?.offer_type == '1'">SAR
                                      {{promoDiscount | number : '1.2-2'}}</td>
                                  </tr>
                                  <tr *ngIf="!selectedPromo">
                                    <td>Total Discount</td>
                                    <td class="text-right text-success">SAR {{discount_total  |number : '1.2-2'}}</td>
                                  </tr>
                                  <tr *ngIf="selectedPromo">
                                    <td>Total Discount</td>
                                    <td class="text-right text-success">SAR {{discount_total + promoDiscount |number : '1.2-2'}}</td>
                                  </tr>
                                  <tr class="border-bottom">
                                    <td>Delivery</td>
                                    <td class="text-right text-success">SAR 0</td>
                                  </tr>
                                  <tr *ngIf="!selectedPromo">
                                    <td class="font-weight-bold">Total</td>
                                    <td class="text-right text-success">SAR {{grand_total - discount_total  | number : '1.2-2'}}</td>
                                  </tr>
                                  <tr *ngIf="selectedPromo">
                                    <td class="font-weight-bold">Total</td>
                                    <td class="text-right text-success">SAR {{grand_total - discount_total - promoDiscount | number : '1.2-2'}}</td>
                                  </tr>
                                </table>
                                <!-- <p class="text-primary">Savings of SAR 10 on this order</p> -->
                                <button (click)="placeOrder()" class="btn btn-primary w-100 mt-3">PROCEED TO
                                  PAY</button>
                              </div>
                            </div>



                          </div>
                        </div>



                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="footer">
        <div class="container">
          Copyright@2020. All Rights reserved
        </div>
      </div>

      <div class="modal fade" id="calendar">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="font-18">Select Date</h6>
              <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <ngx-calendar [options]="calendarOptions" (onChooseDate)="onChooseDate($event)"></ngx-calendar>
              <!-- <div class="w-100 text-center mt-3">
              <button class="btn btn-primary btn-md" data-dismiss="modal">Select</button>
            </div> -->
            </div>

          </div>
        </div>
      </div>

      <div class="modal fade" id="coupon">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="font-16">Apply Coupon</h6>
              <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <ng-container *ngIf="coupons.length > 0">
                <div class="coupon-box" *ngFor="let coupon of coupons">
                  <img
                    [src]="coupon.promo_image != '' ? environment.baseUrl+coupon.promo_image : 'assets/images/burger.png'">
                  <div>
                    <p>{{coupon.promo_name}}</p>
                  </div>
                  <button class="btn btn-primary" (click)="applyCoupon(coupon)">Apply</button>
                </div>
              </ng-container>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade" id="delete-modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <h6 class="text-center font-14 mt-3">Are you sure, you want to delete this address ?</h6>
            <div class="w-100 text-center mt-3">
              <button class="btn btn-success btn-md" data-dismiss="modal" (click)="deleteAddress()">Yes</button>
              <button class="btn btn-primary btn-md" data-dismiss="modal">No</button>
            </div>
          </div>

        </div>
      </div>
      </div>

      </div>
