<app-header></app-header>
<div id="dashboardPage"></div>
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="full-width pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
           
              <div class="page-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="ongoing-list">
                                                <li routerLink="/marketplace/marketplace-ongoing-order">Ongoing Orders</li>
                                                <li routerLink="/marketplace/marketplace-cancelled" >Cancelled</li>
                                                <li routerLink="/marketplace/marketplace-completed" class="text-purple">Completed</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="ongoing-details">
                                      <div class="product-area">
                                        <div class="row">
                                          <div class="col-sm-12 col-md-3 full-height">
                                            <div class="img-part" data-toggle="modal" data-target="#add">
                                              <img src="assets/images/product-1.png" class="courner v-align-center w-100"/>
                                            </div>
                                          </div>
                                          <div class="col-sm-12 col-md-9 full-height">

                                            <div class="product-text table-responsive">
                                              <table class="w-100 global-table">
                                                <tr>
                                                  <td class="text-dark font-weight-bold">Sunflower Seeds</td>
                                                  <td class="text-purple font-weight-bold text-right">$140/10 kg</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <p class="para">Lorem ipsum dolor sit amet, conecet ernt. <br>dolor sit amet, 
                                                        conecet ernt piscing.</p>
                                                  </td>
                                                  <td class="text-right">
                                                      <button class="add-light text-center">
                                                          <span class="fa fa-minus text-dark"></span>
                                                          <span style="margin:0px 7px;">2</span>
                                                          <span class="fa fa-plus"></span>
                                                      </button>  
                                                  </td>
                                                </tr> 
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="product-area">
                                        <div class="row">
                                          <div class="col-sm-12 col-md-3 full-height">
                                            <div class="img-part" data-toggle="modal" data-target="#add">
                                              <img src="assets/images/product-1.png" class="courner v-align-center w-100"/>
                                            </div>
                                          </div>
                                          <div class="col-sm-12 col-md-9 full-height">

                                            <div class="product-text table-responsive">
                                              <table class="w-100 global-table">
                                                <tr>
                                                  <td class="text-dark font-weight-bold">Sunflower Seeds</td>
                                                  <td class="text-purple font-weight-bold text-right">$140/10 kg</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <p class="para">Lorem ipsum dolor sit amet, conecet ernt. <br>dolor sit amet, 
                                                        conecet ernt piscing.</p>
                                                  </td>
                                                  <td class="text-right">
                                                      <button class="add-light text-center">
                                                          <span class="fa fa-minus text-dark"></span>
                                                          <span style="margin:0px 7px;">2</span>
                                                          <span class="fa fa-plus"></span>
                                                      </button>  
                                                  </td>
                                                </tr> 
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="product-area">
                                        <div class="row">
                                          <div class="col-sm-12 col-md-3 full-height">
                                            <div class="img-part" data-toggle="modal" data-target="#add">
                                              <img src="assets/images/product-1.png" class="courner v-align-center w-100"/>
                                            </div>
                                          </div>
                                          <div class="col-sm-12 col-md-9 full-height">

                                            <div class="product-text table-responsive">
                                              <table class="w-100 global-table">
                                                <tr>
                                                  <td class="text-dark font-weight-bold">Sunflower Seeds</td>
                                                  <td class="text-purple font-weight-bold text-right">$140/10 kg</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <p class="para">Lorem ipsum dolor sit amet, conecet ernt. <br>dolor sit amet, 
                                                        conecet ernt piscing.</p>
                                                  </td>
                                                  <td class="text-right">
                                                      <button class="add-light text-center">
                                                          <span class="fa fa-minus text-dark"></span>
                                                          <span style="margin:0px 7px;">2</span>
                                                          <span class="fa fa-plus"></span>
                                                      </button>  
                                                  </td>
                                                </tr> 
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="product-area">
                                        <div class="row">
                                          <div class="col-sm-12 col-md-3 full-height">
                                            <div class="img-part" data-toggle="modal" data-target="#add">
                                              <img src="assets/images/product-1.png" class="courner v-align-center w-100"/>
                                            </div>
                                          </div>
                                          <div class="col-sm-12 col-md-9 full-height">

                                            <div class="product-text table-responsive">
                                              <table class="w-100 global-table">
                                                <tr>
                                                  <td class="text-dark font-weight-bold">Sunflower Seeds</td>
                                                  <td class="text-purple font-weight-bold text-right">$140/10 kg</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <p class="para">Lorem ipsum dolor sit amet, conecet ernt. <br>dolor sit amet, 
                                                        conecet ernt piscing.</p>
                                                  </td>
                                                  <td class="text-right">
                                                      <button class="add-light text-center">
                                                          <span class="fa fa-minus text-dark"></span>
                                                          <span style="margin:0px 7px;">2</span>
                                                          <span class="fa fa-plus"></span>
                                                      </button>  
                                                  </td>
                                                </tr> 
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>


                                      <div class="product-area">
                                        <div class="row">
                                          <div class="col-sm-12 col-md-3 full-height">
                                            <div class="img-part" data-toggle="modal" data-target="#add">
                                              <img src="assets/images/product-2.png" class="courner v-align-center w-100"/>
                                            </div>
                                          </div>
                                          <div class="col-sm-12 col-md-9 full-height">
                                            <div class="product-text table-responsive">
                                              <table class="w-100 global-table">
                                                <tr>
                                                  <td class="text-dark font-weight-bold">Sunflower Seeds</td>
                                                  <td class="text-purple text-right font-weight-bold">$140.00</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <p class="para">Lorem ipsum dolor sit amet, conecet ernt. <br>dolor sit amet, 
                                                        conecet ernt piscing.</p>
                                                  </td>
                                                  <td class="text-right">
                                                      <button class="add-light text-center">
                                                          <span class="fa fa-minus text-dark"></span>
                                                          <span style="margin:0px 7px;">2</span>
                                                          <span class="fa fa-plus"></span>
                                                      </button>  
                                                  </td>
                                                </tr> 
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="product-area">
                                        <div class="row">
                                          <div class="col-sm-12 col-md-3 full-height">
                                            <div class="img-part" data-toggle="modal" data-target="#add">
                                              <img src="assets/images/product-2.png" class="courner v-align-center w-100"/>
                                            </div>
                                          </div>
                                          <div class="col-sm-12 col-md-9 full-height">
                                            <div class="product-text table-responsive">
                                              <table class="w-100 global-table">
                                                <tr>
                                                  <td class="text-dark font-weight-bold">Sunflower Seeds</td>
                                                  <td class="text-purple text-right font-weight-bold">$140.00</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <p class="para">Lorem ipsum dolor sit amet, conecet ernt. <br>dolor sit amet, 
                                                        conecet ernt piscing.</p>
                                                  </td>
                                                  <td class="text-right">
                                                      <button class="add-light text-center">
                                                          <span class="fa fa-minus text-dark"></span>
                                                          <span style="margin:0px 7px;">2</span>
                                                          <span class="fa fa-plus"></span>
                                                      </button>  
                                                  </td>
                                                </tr> 
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="product-area">
                                        <div class="row">
                                          <div class="col-sm-12 col-md-3 full-height">
                                            <div class="img-part" data-toggle="modal" data-target="#add">
                                              <img src="assets/images/product-2.png" class="courner v-align-center w-100"/>
                                            </div>
                                          </div>
                                          <div class="col-sm-12 col-md-9 full-height">
                                            <div class="product-text table-responsive">
                                              <table class="w-100 global-table">
                                                <tr>
                                                  <td class="text-dark font-weight-bold">Sunflower Seeds</td>
                                                  <td class="text-purple text-right font-weight-bold">$140.00</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <p class="para">Lorem ipsum dolor sit amet, conecet ernt. <br>dolor sit amet, 
                                                        conecet ernt piscing.</p>
                                                  </td>
                                                  <td class="text-right">
                                                    <button class="add-light text-center">
                                                          <span class="fa fa-minus text-dark"></span>
                                                          <span style="margin:0px 7px;">2</span>
                                                          <span class="fa fa-plus"></span>
                                                      </button>  
                                                  </td>
                                                </tr> 
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      </div>



                                        </div>
                                    </div>
                                    </div>
                              </div>
                        </div>
                        <div class="col-md-4 full-height">
                            <div class="card">
                                <div class="card-body">
                            <p class="font-weight-bold">Bill Details</p>
                            <div class="table-responsive bill-table">
                                <table class="w-100">
                                    <tr>
                                        <td>Item Total</td>
                                        <td class="text-right text-success">$ 280.00</td>
                                    </tr>
                                    <tr>
                                        <td>Discount</td>
                                        <td class="text-right text-success">$ 10.00</td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <td>Delivery</td>
                                        <td class="text-right text-success">$ 10.00</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Total</td>
                                        <td class="text-right text-success">$ 270.00</td>
                                    </tr>
                                    
                                </table>
                                <p class="text-primary">Savings of $ 10 on this order</p>
                                

                                <div class="">
                                    <span class="margin-right-10 font-weight-bold">Status</span>
                                    <span><button class="btn btn-green">Delivered on 16Feb 2020</button></span>
                                    <div class="rating">
                                        <img class="img-fluid" src="assets/images/star-big.png">
                                        <img class="img-fluid" src="assets/images/star-big.png">
                                        <img class="img-fluid" src="assets/images/star-big.png">
                                        <img class="img-fluid" src="assets/images/star-big.png">
                                        <img class="img-fluid" src="assets/images/star-white.png">
                                      </div>
                                    <p class="mt-2 font-13">Lorem ipsum dolor sit amet, conecet ernt dolor sit amet conecet ernt piscing ernt dolor ipsum onecet sernt</p>                         </div>

                            </div>
                        </div>
                    </div>
                    </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <div class="container">
              Copyright@2020. All Rights reserved
            </div>
          </div>

     