<div class="theme-loader" *ngIf="routerChanged">
  <div class="ball-scale">
    <div class='contain'>
      <div class="ring"><div class="frame"></div></div>
      <div class="ring"><div class="frame"></div></div>
      <div class="ring"><div class="frame"></div></div>
      <div class="ring"><div class="frame"></div></div>
      <div class="ring"><div class="frame"></div></div>
      <div class="ring"><div class="frame"></div></div>
      <div class="ring"><div class="frame"></div></div>
      <div class="ring"><div class="frame"></div></div>
      <div class="ring"><div class="frame"></div></div>
      <div class="ring"><div class="frame"></div></div>
    </div>
  </div>
</div>
<section class="login">
    <div class="container">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <a href="javascript:void(0)">
              <img src="assets/images/logo.png" class="logo-height" />
            </a>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <li class="langues-dropdown pull-right">
              <a href="javascript:void(0)">
                <span id="langues">
                  <img src="assets/images/flags/en.jpg">
                  English
                </span>
                <i class="ti-angle-down"></i>
              </a>
              <ul>
                <li>
                  <img src="assets/images/flags/en.jpg"> English
                </li>
                <li>
                  <img src="assets/images/flags/ar.jpg"> Arabic
                </li>
              </ul>
            </li>
          </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7  login-left">
                <div class="login-card">
                    <h1>{{template?.panelTitle}} <br>{{template?.panelTemplate}}</h1>
                    <h6>Sign in or create account to start selling</h6>
                    <p>{{template?.panelmessage}}</p>
                    <img [src]="baseurl + template?.upload_template_image">
                  </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5  login-right">
                <div class="login-card">
                    <div class="m-b-30">
                        <h3>Get started!</h3>
                        <p class="font-weight-bold">Don't have an account? <a routerLink="/sign-up" class="text-primary">Sign Up</a></p>
                    </div>
                    <form #fs="ngForm" class="w-100 form-control-bottom" [formGroup]="loginFrom" (ngSubmit)="submit()">
                        <div class="m-t-10">
                            <div class="form-group">
                                <label>Email Address</label>
                                <input type="email" formControlName="email" class="form-control email"/>
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="submitted && f.email.errors.required">Email is required.</div>
                                    <div *ngIf="submitted && f.email.errors.email">Email is not valid.</div>
                                </div>
                            </div>
                            <div class="login-phone">
                                <label>Phone Number</label>
                                <!-- <input type="text" formControlName="mobile_number" placeholder="Phone Number"
                                    ng2TelInput class="form-control phone login_mobile"
                                    [ng2TelInputOptions]="{initialCountry: 'sa'}"
                                    onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57"
                                    (countryChange)="onCountryChange($event)" /> -->
                                <ngx-intl-tel-input 
                                [cssClass]="'custom form-control phone login_mobile'" 
                                [preferredCountries]="['sa']" 
                                [onlyCountries]="onlyCountriesShow"
                                [enablePlaceholder]="true"
                                [enableAutoCountrySelect]="true"
                                [phoneValidation]="false"
                                name="mobile_number" 
                                [maxLength]="15"
                                (countryChange)="onCountryChange($event)"
                                formControlName="mobile_number"></ngx-intl-tel-input>
                                <div *ngIf="submitted && f.mobile_number.errors" class="invalid-feedback">
                                  <div *ngIf="f.mobile_number.errors.required">
                                    Phone Number is required
                                  </div>
                                    <!-- <div *ngIf="!fs.form.value.mobile_number">Phone number is required.</div> -->
                                    <!-- <div *ngIf="fs.form.value.mobile_number && fs.form.controls['mobile_number'].errors">Invalid Phone Number</div> -->
                                    <div *ngIf="f.mobile_number.errors.minlength">Phone number must be at least 5 digits.</div>
                                    <div *ngIf="f.mobile_number.errors.maxlength">Phone number must be at smaller than 15 digits.</div>
                                </div>                                
                            </div>
                            <div class="form-group">
                                <label>Enter Password</label>
                                <input type="password" formControlName="password" class="form-control password" />
                                <span class="showHidePass"></span>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="submitted && f.password.errors.required">Password is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="m-t-15">
                            <div class="forgot-phone">
                                <a routerLink="/forgot-password" class="text-right f-w-600 text-primary">
                                    Forgot Password?</a>
                            </div>
                        </div>
                        <div class="m-t-25">
                            <button type="submit" class="btn btn-primary btn-md btn-block">SIGN IN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>
  