.no-item{
    text-align: center;
    border: 1px dashed #aeaeae;
    border-radius: 5px;
    width: 100%;
    font-size: 12px;
    color: #aeaeae;
    margin: 20px;
    padding: 10px;
    margin-bottom: 0px;
    cursor: pointer;
}